* {
    font-family: 'Asap Condensed', sans-serif;
}

.pag {
    background-color: #000000;
}

#watchInicial {
    color: #FFFFFF;
    font-family: myFirstFont;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}

.contenedor {
    height: 100vh;
    width: 100;
    display: flex;
}

.contenedor form input {
    cursor: pointer;
}

h1 {
    margin: 0;
}

.box1 {
    background-color: #000000;
    background-image: url(../img/fondo2.gif);
    /*    width: 25%;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.box1 h3 {
    color: #FFFFFF;
    font-family: 'Asap Condensed', sans-serif;
}

#tipo {
    color: #FFFFFF;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/BA-Wet_Paint.otf);
    font-weight: bold;
}

img.imgFiltros {
    max-width: 250px;
}

form#popularidad {
    text-align-last: justify;
}

.box2 {
    background-color: #000000;
    background-image: url(../img/fondo.gif);
    width: 100%;
    /*overflow: scroll;*/
    overflow-y: auto;
    overflow-x: hidden;
}

select {
    width: 200px;
    height: 30px;
    margin: 5px;
}

.contenedorPelis {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

#myBtn img {
    cursor: pointer;
    margin: 1em;
    width: 150px;
    height: 200px;
}

.loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    background-image: url(../img/fondo2.gif);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .9s ease all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.transition {
    transform: translate(0, -100vh);
}

.desparecer {
    display: none;
}


/* ----------------Modal CSS ------------ */

.modal-content {
    color: #FFFFFF;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.modal-header {
    text-align: center;
}

.modal-title {}

.modal-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin: 20px;
}


/*-------- FIN Modal CSS ------------------*/
